@media screen and(max-width: 420px){
    ul{
        display: none;
    }
    
}

/* navigation css*/
a{
   text-decoration: none;
   color: black;
    font-weight: bolder;
}
a:active{
    color: #ffca42;
}
a:hover{
    cursor: pointer;
    color: #38B000;
}
li{
    margin-inline: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#learnMoreBtn:hover{
    box-shadow: 0px 0px 3px 10px #FFD100;
}
 
/* About us main content page CSS*/

#aboutus-main-content{
     background-image: none;
     background-repeat: no-repeat;
     background-position: fixed;
     background-size: fit;
     
}
.intro-article{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 90%;
    margin: auto;
    text-align: center;
    justify-content: baseline;
    align-items: center;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0px 0px 5px 2px #FFD100;
    background-color: black;
    
}
.para{
    width: 50%;
    color: #FFD100;
    line-height: 1.5;
    font-size: 2vw;
}
.headings{
    text-align: center;
    margin: auto;
    padding: 20px;
    font-weight: 400px;
    color: #FFD100;
}
section{
    font-family: 'Poppins' sans-serif;
}
