
/* Mobile screen max-width is 450*/
@media screen and (max-width: 770px) {
    body{
        
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: #ffffff;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin: auto;
    }
    header{
        max-width: 100%;
        margin: 0px;

    }

    .main-page{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        gap: 40px;
        max-width: 85%;
        
    }
    
    
    .main_nav{
        display: grid;
        grid-template-columns:1fr 70%;
        padding: 20px;
        max-width: 90%;
        margin: auto;
        font-family: 'Red Hat Display';
       
         
    }
    
    .nav-00{
        padding-inline: 20px;
        font-size: 15px;
    }
    .nav-01{
        padding-inline: 30px;
        float: right;
        font-size: 15px;
        
    }
    .nav_00{
        text-align: center;
        margin: auto;
        display: none;

    }
    .logo{
        font-size: 30px;
    }
    .button{
        padding: 10px;
        border-radius: 0%;
        border-color: #ffffff;
        border-style: none;
        margin-top: 5px;
        font-size: 17px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .down{
        position: relative;
        top: 15px;
        font-size: 15px;
    }
    .sub-main{
        max-width: 100%;
        margin: 0%;
        white-space: wrap;
        font-family: 'Red Hat Display';
        
    }
    .title-line{
        font-size: 50px;
         margin: 0%
    }
    .button-sub{
        padding: 10px;
        border-radius: 0%;
        border-color: #ffffff;
        border-style: none;
        margin-top: 5px;
        font-size: 17px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        position: relative;
        left: 120px;

    }
    .next-sub{
       
        color: #ec4f16;
        max-width: 100%;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,1) 91%, rgba(253,111,45,1) 100%);
        margin: auto;
        
    }
    
    .right_container{
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
       text-align: center;
        justify-content: center;
        align-items: center;
        border: 2px solid white;
        background-color: #ffffff;
        max-width: 100%;
        height: fit-content;
        margin-block-end: 10px;
    
       
    }
    
    
    .first-nav{
       margin-inline: 10px;
       max-width: 100%;
       margin: auto;
       position: relative;
       top: 10px;
       margin-block-start: 13px;
       display: flex;
       flex-wrap: wrap;
       text-align: center;
       align-items: center;
       justify-content: center;
       
    
    }
    .nav-padding-inline{
        padding-inline: 14px;
    }
    .second-line{
        max-width: 100%;
        text-align: center;
        float: right;
        font-family: 'Cinzel', Times, serif;
    }

    
    .image{
        position: relative;
        right: 0px;
       max-width: 100%;
       
    }
    
    .right-align{
        float: right;
        padding-inline: 5px;
    
    }
    .h4-fonts{
        line-height: 10%;
        margin: 10px;
    }
    .line{
        
        margin: 0%;
        font-size: 10vw;
    }
    h5{
        justify-content: center;
        max-width: 40%;
        position: relative;
        left: 50px;

        margin-bottom: 10px;
        
    }
    .all-in-one{
        
        background-color: #ffffff;
        padding-top: 15px;
    }
    .button_right{
        border-radius: 20px;
        border-color: #ec4f16;
        padding-inline: 10px;
        color: #ec4f16;
        padding-block: 5px;
        border: 1px solid #ec4f16;
    }
    .line-break{
       white-space: 5px;
     }
     .last-button{
        border-radius: 200px;
        border-color: #ec4f16;
        padding: 10px;
        color: #ec4f16;
        border: 1px solid #ec4f16;
    
    }
    
}

/* Desktop screen min-width is 450px */

@media screen and (min-width: 770px) {
    

body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    padding: 0%;
} 

.main_nav{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0px;
    max-width: 100%;
    margin: auto;
    background-size: cover;
    font-family: 'Red Hat Display';
    background-position: fixed;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.title-line{
    font-size: 3vw; margin: 0%
}
header{
    max-width: 100%;
    margin: 0px;
    height: default;
    background-size: cover;
    background-position: fixed;
    background-attachment: fixed;

}
a{
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: 'Red Hat Display';
}
 

.nav-00{
    
    padding: 10px 10px;
    margin-inline: 10px;
    font-size: 13.5px;
    position: relative;
    top: 0px;
    font-weight: 500;
    text-align: center;
    align-items: baseline;
    justify-content: baseline;

}
.nav-00:hover{
    cursor: pointer;
    color: #fa2e00c7;
    animation: ease-in;
    transition: 2.5ms;
    text-decoration: 2px underline;
}
.nav-01{
    padding-inline: 30px;
    float: right;
    
}
.nav_00{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
}
.nav_01{
  
    margin-inline-start: 40px;
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    
}
.logo{
    font-size: 28px;
    color: #000000;
    font-weight: 500; 
    margin-inline-end: 40px;
    position: relative;
    top: 0px;
    color: #ec4f16;
    
}
.button{
    padding-inline: 20px;
    padding-block: 7px;
    border-radius: 20px;
    border: 1px solid #ec4f16;
    color: #000000;
    background-color: #ffffffc7;
    font-size: small;
    font-family: 'Red Hat Display';
    margin-inline-start: 5px;
    
}

.button:hover{
    background-color:  #00b3ff;
    color: white;
    cursor: pointer;
    animation: ease-out;
    transition: 0.2s;
    border-color: transparent;
    
}
.down{
    padding: 0%;
    margin-inline: 5px;
    border-style: none;
    background-color: transparent;
}
.down:hover{
    cursor: pointer;
    color: #fa2e00c7;
    animation: ease-out;
    transition: 0.2s;
    text-decoration: 2px underline;
  
}
.sub-main{
    max-width: 70%;
    position: relative;
    left: 10px;
    margin: 0%;
    font-family: 'Red Hat Display';
}
.button-sub{
    padding: 10px;
    border-radius: 0%;
    border-color: #ffffff;
    border-style: none;
    margin-top: 5px;
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.main-page{
    display: grid;
    grid-template-columns: 35% 65%;
    margin: auto; 
    max-width: 90%;
    padding-block: 40px;

}

.next-sub{
   
    color: #ec4f16;
    max-width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 91%);
    height: 300px;
    
}

.right_container{
    display: grid;
    grid-template-columns: 60% 40%;
    padding-top: 10px;
   text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    background-color: #ffffff;
    max-width: 100%;
    height: fit-content;
    margin-block-end: 10px;
}

.first-nav{
   margin-inline: 10px;
   max-width: 95%;
   margin: auto;
   position: relative;
   top: 10px;
   margin-block-start: 13px;

}
.second-line{
    max-width: 100%;
    text-align: center;
    float: right;
    font-family: 'Cinzel', Times, serif;
}
.image{
    position: relative;
    right: 13px;
}

.right-align{
    float: right;
    padding-inline: 5px;

}
h4{
    line-height: 2%;
}
.line{
    
    margin: 0%;
    font-size: 3.5vw;
}
.all-in-one{
    
    background-color: #ffffff;
    padding-top: 15px;
}
.button_right{
    border-radius: 20px;
    border-color: #ec4f16;
    padding-inline: 10px;
    color: #ec4f16;
    padding-block: 5px;
    border: 1px solid #ec4f16;
}
.line-break{
   white-space: 5px;
 }
 .last-button{
    border-radius: 200px;
    border-color: #ec4f16;
    padding: 10px;
    color: #ec4f16;
    border: 1px solid #ec4f16;

}
.paragraph{
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    
}
/* Product Sections */
#product-sections section {
    max-width: 250px;
    text-align: left;
    color: black;
    padding: 10px;
    border: none;
    box-shadow: 0 5px 10px rgb(255, 254, 254);
    border-radius: 10px;
}
#product-sections section:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

img {
    border-radius: 10px;
}
.product-button {
    padding: 10px 15px;
    background-color: #ec4f16;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    position: relative;
    align-items: left;
    

}
.product-button:hover {
    background-color: #fa2e00c7;
}
section p{
    font-size: 14px;
    line-height: 1.5;
    margin: 10px 0;
    color: #000000ff;
    justify-content: flex-start;
    text-align: left;
}
section h2{
    font-size: 20px;
    font-weight: bolder;
    margin: 10px 0 5px 0;
    color: #000000f5;
}
.transit-in{
    transition: all 0.3s ease-in;
    
    
}


}
